@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot");
  src: url("../fonts/fontello/fontello.eot?#iefix") format('embedded-opentype'), url("../fonts/fontello/fontello.woff") format('woff'), url("../fonts/fontello/fontello.ttf") format('truetype'), url("../fonts/fontello/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontello-social';
  src: url("../fonts/fontello/fontello-social.eot");
  src: url("../fonts/fontello/fontello-social.eot?#iefix") format('embedded-opentype'), url("../fonts/fontello/fontello-social.woff") format('woff'), url("../fonts/fontello/fontello-social.ttf") format('truetype'), url("../fonts/fontello/fontello-social.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello-circle';
  src: url('/fonts/fontello/fontello-circle.eot?49961091');
  src: url('/fonts/fontello/fontello-circle.eot?49961091#iefix') format('embedded-opentype'),
       url('/fonts/fontello/fontello-circle.woff?49961091') format('woff'),
       url('/fonts/fontello/fontello-circle.ttf?49961091') format('truetype'),
       url('/fonts/fontello/fontello-circle.svg?49961091#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "budicon";
  src:url("../fonts/budicons/budicon.eot");
  src:url("../fonts/budicons/budicon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/budicons/budicon.woff") format("woff"),
    url("../fonts/budicons/budicon.ttf") format("truetype"),
    url("../fonts/budicons/budicon.svg#budicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

@font-face {
	font-family: 'elemis';
	src:url('/fonts/elemis/elemis.eot?-yfjv6u');
	src:url('/fonts/elemis/elemis.eot?#iefix-yfjv6u') format('embedded-opentype'),
		url('/fonts/elemis/elemis.woff?-yfjv6u') format('woff'),
		url('/fonts/elemis/elemis.ttf?-yfjv6u') format('truetype'),
		url('/fonts/elemis/elemis.svg?-yfjv6u#elemis') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-e-"], [class*=" icon-e-"] {
	font-family: 'elemis';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-e-zigzag:before {
	content: "\e600";
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  line-height: 1em;
}

[class^="icon-s-"]:before,
[class*=" icon-s-"]:before {
  font-family: 'fontello-social';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  line-height: 1em;
}

[data-icon]:before {
  font-family: "budicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="budicon-"]:before,
[class*=" budicon-"]:before {
  font-family: "budicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.budicon-aid-kit:before {
  content: "\e000";
}
.budicon-album:before {
  content: "\e001";
}
.budicon-alert:before {
  content: "\e002";
}
.budicon-arrow:before {
  content: "\e003";
}
.budicon-arrow-1:before {
  content: "\e004";
}
.budicon-arrow-2:before {
  content: "\e005";
}
.budicon-arrow-3:before {
  content: "\e006";
}
.budicon-arrow-diagonal:before {
  content: "\e007";
}
.budicon-arrow-diagonal-1:before {
  content: "\e008";
}
.budicon-arrow-down:before {
  content: "\e009";
}
.budicon-arrow-down-1:before {
  content: "\e00a";
}
.budicon-arrow-horizontal:before {
  content: "\e00b";
}
.budicon-arrow-left:before {
  content: "\e00c";
}
.budicon-arrow-left-1:before {
  content: "\e00d";
}
.budicon-arrow-left-bottom:before {
  content: "\e00e";
}
.budicon-arrow-left-top:before {
  content: "\e00f";
}
.budicon-arrow-right:before {
  content: "\e010";
}
.budicon-arrow-right-1:before {
  content: "\e011";
}
.budicon-arrow-right-bottom:before {
  content: "\e012";
}
.budicon-arrow-right-top:before {
  content: "\e013";
}
.budicon-arrow-up:before {
  content: "\e014";
}
.budicon-arrow-up-1:before {
  content: "\e015";
}
.budicon-arrow-vertical:before {
  content: "\e016";
}
.budicon-attachment:before {
  content: "\e017";
}
.budicon-author:before {
  content: "\e018";
}
.budicon-authors:before {
  content: "\e019";
}
.budicon-award:before {
  content: "\e01a";
}
.budicon-award-1:before {
  content: "\e01b";
}
.budicon-award-2:before {
  content: "\e01c";
}
.budicon-backward:before {
  content: "\e01d";
}
.budicon-bag:before {
  content: "\e01e";
}
.budicon-bell:before {
  content: "\e01f";
}
.budicon-bicycle:before {
  content: "\e020";
}
.budicon-binoculars:before {
  content: "\e021";
}
.budicon-book:before {
  content: "\e022";
}
.budicon-book-1:before {
  content: "\e023";
}
.budicon-book-2:before {
  content: "\e024";
}
.budicon-book-3:before {
  content: "\e025";
}
.budicon-book-4:before {
  content: "\e026";
}
.budicon-book-5:before {
  content: "\e027";
}
.budicon-book-6:before {
  content: "\e028";
}
.budicon-bookmark:before {
  content: "\e029";
}
.budicon-box:before {
  content: "\e02a";
}
.budicon-box-1:before {
  content: "\e02b";
}
.budicon-briefcase:before {
  content: "\e02c";
}
.budicon-briefcase-1:before {
  content: "\e02d";
}
.budicon-browser:before {
  content: "\e02e";
}
.budicon-browser-2:before {
  content: "\e02f";
}
.budicon-browser-3:before {
  content: "\e030";
}
.budicon-browser-4:before {
  content: "\e031";
}
.budicon-browser-5:before {
  content: "\e032";
}
.budicon-brush:before {
  content: "\e033";
}
.budicon-bulb:before {
  content: "\e034";
}
.budicon-bus:before {
  content: "\e035";
}
.budicon-calculator:before {
  content: "\e036";
}
.budicon-camera:before {
  content: "\e037";
}
.budicon-camera-1:before {
  content: "\e038";
}
.budicon-camera-2:before {
  content: "\e039";
}
.budicon-camera-3:before {
  content: "\e03a";
}
.budicon-camera-4:before {
  content: "\e03b";
}
.budicon-cancel:before {
  content: "\e03c";
}
.budicon-cancel-1:before {
  content: "\e03d";
}
.budicon-cancel-2:before {
  content: "\e03e";
}
.budicon-cancel-3:before {
  content: "\e03f";
}
.budicon-cancel-4:before {
  content: "\e040";
}
.budicon-car:before {
  content: "\e041";
}
.budicon-cash:before {
  content: "\e042";
}
.budicon-cash-dollar:before {
  content: "\e043";
}
.budicon-cash-euro:before {
  content: "\e044";
}
.budicon-cash-pound:before {
  content: "\e045";
}
.budicon-cash-yen:before {
  content: "\e046";
}
.budicon-check:before {
  content: "\e047";
}
.budicon-check-1:before {
  content: "\e048";
}
.budicon-check-2:before {
  content: "\e049";
}
.budicon-check-3:before {
  content: "\e04a";
}
.budicon-check-4:before {
  content: "\e04b";
}
.budicon-clock:before {
  content: "\e04c";
}
.budicon-clock-1:before {
  content: "\e04d";
}
.budicon-clock-2:before {
  content: "\e04e";
}
.budicon-clock-3:before {
  content: "\e04f";
}
.budicon-cloud:before {
  content: "\e050";
}
.budicon-cloud-download:before {
  content: "\e051";
}
.budicon-cloud-upload:before {
  content: "\e052";
}
.budicon-cocktail:before {
  content: "\e053";
}
.budicon-code:before {
  content: "\e054";
}
.budicon-coffee:before {
  content: "\e055";
}
.budicon-coins:before {
  content: "\e056";
}
.budicon-comment:before {
  content: "\e057";
}
.budicon-comment-1:before {
  content: "\e058";
}
.budicon-comment-2:before {
  content: "\e059";
}
.budicon-comment-3:before {
  content: "\e05a";
}
.budicon-comment-4:before {
  content: "\e05b";
}
.budicon-comment-5:before {
  content: "\e05c";
}
.budicon-compass:before {
  content: "\e05d";
}
.budicon-compass-1:before {
  content: "\e05e";
}
.budicon-cone:before {
  content: "\e05f";
}
.budicon-crop:before {
  content: "\e060";
}
.budicon-crown:before {
  content: "\e061";
}
.budicon-cube:before {
  content: "\e062";
}
.budicon-dashboard:before {
  content: "\e063";
}
.budicon-date:before {
  content: "\e064";
}
.budicon-date-1:before {
  content: "\e065";
}
.budicon-date-2:before {
  content: "\e066";
}
.budicon-diamond:before {
  content: "\e067";
}
.budicon-direction:before {
  content: "\e068";
}
.budicon-disk:before {
  content: "\e069";
}
.budicon-document:before {
  content: "\e06a";
}
.budicon-document-1:before {
  content: "\e06b";
}
.budicon-document-2:before {
  content: "\e06c";
}
.budicon-document-3:before {
  content: "\e06d";
}
.budicon-document-4:before {
  content: "\e06e";
}
.budicon-download:before {
  content: "\e06f";
}
.budicon-download-1:before {
  content: "\e070";
}
.budicon-drop:before {
  content: "\e071";
}
.budicon-eject:before {
  content: "\e072";
}
.budicon-enlarge:before {
  content: "\e073";
}
.budicon-enlarge-1:before {
  content: "\e074";
}
.budicon-equal:before {
  content: "\e075";
}
.budicon-equalizer:before {
  content: "\e076";
}
.budicon-fire:before {
  content: "\e077";
}
.budicon-flag:before {
  content: "\e078";
}
.budicon-folder:before {
  content: "\e079";
}
.budicon-fork-knife:before {
  content: "\e07a";
}
.budicon-forward:before {
  content: "\e07b";
}
.budicon-fridge:before {
  content: "\e07c";
}
.budicon-fullscreen:before {
  content: "\e07d";
}
.budicon-fullscreen-1:before {
  content: "\e07e";
}
.budicon-fullscreen-2:before {
  content: "\e07f";
}
.budicon-fullscreen-3:before {
  content: "\e080";
}
.budicon-gameboy:before {
  content: "\e081";
}
.budicon-gender-female:before {
  content: "\e082";
}
.budicon-gender-male:before {
  content: "\e083";
}
.budicon-gift:before {
  content: "\e084";
}
.budicon-glass:before {
  content: "\e085";
}
.budicon-glasses:before {
  content: "\e086";
}
.budicon-globe:before {
  content: "\e087";
}
.budicon-graph:before {
  content: "\e088";
}
.budicon-grid:before {
  content: "\e089";
}
.budicon-grid-1:before {
  content: "\e08a";
}
.budicon-hammer:before {
  content: "\e08b";
}
.budicon-headphones:before {
  content: "\e08c";
}
.budicon-heart:before {
  content: "\e08d";
}
.budicon-home:before {
  content: "\e08e";
}
.budicon-home-1:before {
  content: "\e08f";
}
.budicon-image:before {
  content: "\e090";
}
.budicon-image-1:before {
  content: "\e091";
}
.budicon-image-2:before {
  content: "\e092";
}
.budicon-image-3:before {
  content: "\e093";
}
.budicon-image-4:before {
  content: "\e094";
}
.budicon-joystick:before {
  content: "\e095";
}
.budicon-lab:before {
  content: "\e096";
}
.budicon-layout:before {
  content: "\e097";
}
.budicon-layout-1:before {
  content: "\e098";
}
.budicon-layout-2:before {
  content: "\e099";
}
.budicon-layout-3:before {
  content: "\e09a";
}
.budicon-layout-4:before {
  content: "\e09b";
}
.budicon-layout-5:before {
  content: "\e09c";
}
.budicon-layout-6:before {
  content: "\e09d";
}
.budicon-layout-7:before {
  content: "\e09e";
}
.budicon-layout-8:before {
  content: "\e09f";
}
.budicon-layout-9:before {
  content: "\e0a0";
}
.budicon-layout-10:before {
  content: "\e0a1";
}
.budicon-leaf:before {
  content: "\e0a2";
}
.budicon-leaf-1:before {
  content: "\e0a3";
}
.budicon-link:before {
  content: "\e0a4";
}
.budicon-link-1:before {
  content: "\e0a5";
}
.budicon-link-external:before {
  content: "\e0a6";
}
.budicon-link-incoming:before {
  content: "\e0a7";
}
.budicon-list:before {
  content: "\e0a8";
}
.budicon-list-1:before {
  content: "\e0a9";
}
.budicon-list-2:before {
  content: "\e0aa";
}
.budicon-location:before {
  content: "\e0ab";
}
.budicon-location-1:before {
  content: "\e0ac";
}
.budicon-lock:before {
  content: "\e0ad";
}
.budicon-magic-wand:before {
  content: "\e0ae";
}
.budicon-magnet:before {
  content: "\e0af";
}
.budicon-mail:before {
  content: "\e0b0";
}
.budicon-mail-1:before {
  content: "\e0b1";
}
.budicon-map:before {
  content: "\e0b2";
}
.budicon-meal:before {
  content: "\e0b3";
}
.budicon-megaphone:before {
  content: "\e0b4";
}
.budicon-mic:before {
  content: "\e0b5";
}
.budicon-mic-1:before {
  content: "\e0b6";
}
.budicon-mic-2:before {
  content: "\e0b7";
}
.budicon-microwave:before {
  content: "\e0b8";
}
.budicon-minus:before {
  content: "\e0b9";
}
.budicon-minus-1:before {
  content: "\e0ba";
}
.budicon-minus-2:before {
  content: "\e0bb";
}
.budicon-minus-3:before {
  content: "\e0bc";
}
.budicon-minus-4:before {
  content: "\e0bd";
}
.budicon-mobile:before {
  content: "\e0be";
}
.budicon-monitor:before {
  content: "\e0bf";
}
.budicon-mouse:before {
  content: "\e0c0";
}
.budicon-network:before {
  content: "\e0c1";
}
.budicon-newspaper:before {
  content: "\e0c2";
}
.budicon-noodle:before {
  content: "\e0c3";
}
.budicon-note:before {
  content: "\e0c4";
}
.budicon-note-1:before {
  content: "\e0c5";
}
.budicon-note-2:before {
  content: "\e0c6";
}
.budicon-note-3:before {
  content: "\e0c7";
}
.budicon-note-4:before {
  content: "\e0c8";
}
.budicon-note-5:before {
  content: "\e0c9";
}
.budicon-note-6:before {
  content: "\e0ca";
}
.budicon-note-7:before {
  content: "\e0cb";
}
.budicon-note-8:before {
  content: "\e0cc";
}
.budicon-note-9:before {
  content: "\e0cd";
}
.budicon-note-10:before {
  content: "\e0ce";
}
.budicon-notebook:before {
  content: "\e0cf";
}
.budicon-pack:before {
  content: "\e0d0";
}
.budicon-pant:before {
  content: "\e0d1";
}
.budicon-paper:before {
  content: "\e0d2";
}
.budicon-paper-plane:before {
  content: "\e0d3";
}
.budicon-pause:before {
  content: "\e0d4";
}
.budicon-pause-1:before {
  content: "\e0d5";
}
.budicon-pen:before {
  content: "\e0d6";
}
.budicon-pencil-1:before {
  content: "\e0d7";
}
.budicon-pencil-2:before {
  content: "\e0d8";
}
.budicon-pencil-3:before {
  content: "\e0d9";
}
.budicon-pencil-4:before {
  content: "\e0da";
}
.budicon-pie-cart:before {
  content: "\e0db";
}
.budicon-pie-chart:before {
  content: "\e0dc";
}
.budicon-pin:before {
  content: "\e0dd";
}
.budicon-pin-1:before {
  content: "\e0de";
}
.budicon-pin-2:before {
  content: "\e0df";
}
.budicon-pin-3:before {
  content: "\e0e0";
}
.budicon-play:before {
  content: "\e0e1";
}
.budicon-plus:before {
  content: "\e0e2";
}
.budicon-plus-1:before {
  content: "\e0e3";
}
.budicon-plus-2:before {
  content: "\e0e4";
}
.budicon-plus-3:before {
  content: "\e0e5";
}
.budicon-plus-4:before {
  content: "\e0e6";
}
.budicon-pointer:before {
  content: "\e0e7";
}
.budicon-pointer-1:before {
  content: "\e0e8";
}
.budicon-pointer-2:before {
  content: "\e0e9";
}
.budicon-power:before {
  content: "\e0ea";
}
.budicon-presentation:before {
  content: "\e0eb";
}
.budicon-presentation-1:before {
  content: "\e0ec";
}
.budicon-printer:before {
  content: "\e0ed";
}
.budicon-printer-1:before {
  content: "\e0ee";
}
.budicon-profile:before {
  content: "\e0ef";
}
.budicon-puzzle:before {
  content: "\e0f0";
}
.budicon-radio:before {
  content: "\e0f1";
}
.budicon-radion:before {
  content: "\e0f2";
}
.budicon-receipt:before {
  content: "\e0f3";
}
.budicon-receipt-1:before {
  content: "\e0f4";
}
.budicon-redo:before {
  content: "\e0f5";
}
.budicon-repeat:before {
  content: "\e0f6";
}
.budicon-rss:before {
  content: "\e0f7";
}
.budicon-ruler:before {
  content: "\e0f8";
}
.budicon-scissors:before {
  content: "\e0f9";
}
.budicon-search:before {
  content: "\e0fa";
}
.budicon-search-1:before {
  content: "\e0fb";
}
.budicon-search-2:before {
  content: "\e0fc";
}
.budicon-search-3:before {
  content: "\e0fd";
}
.budicon-search-4:before {
  content: "\e0fe";
}
.budicon-search-5:before {
  content: "\e0ff";
}
.budicon-server:before {
  content: "\e100";
}
.budicon-setting:before {
  content: "\e101";
}
.budicon-share:before {
  content: "\e102";
}
.budicon-shirt:before {
  content: "\e103";
}
.budicon-shop:before {
  content: "\e104";
}
.budicon-shopping-bag:before {
  content: "\e105";
}
.budicon-shopping-cart:before {
  content: "\e106";
}
.budicon-shopping-cart-1:before {
  content: "\e107";
}
.budicon-speaker:before {
  content: "\e108";
}
.budicon-speaker-1:before {
  content: "\e109";
}
.budicon-star:before {
  content: "\e10a";
}
.budicon-statistic:before {
  content: "\e10b";
}
.budicon-stop:before {
  content: "\e10c";
}
.budicon-sun:before {
  content: "\e10d";
}
.budicon-support:before {
  content: "\e10e";
}
.budicon-tag:before {
  content: "\e10f";
}
.budicon-target:before {
  content: "\e110";
}
.budicon-target-1:before {
  content: "\e111";
}
.budicon-telephone:before {
  content: "\e112";
}
.budicon-tie:before {
  content: "\e113";
}
.budicon-time:before {
  content: "\e114";
}
.budicon-timer:before {
  content: "\e115";
}
.budicon-timer-1:before {
  content: "\e116";
}
.budicon-trash:before {
  content: "\e117";
}
.budicon-trash-1:before {
  content: "\e118";
}
.budicon-tree:before {
  content: "\e119";
}
.budicon-tshirt:before {
  content: "\e11a";
}
.budicon-tv:before {
  content: "\e11b";
}
.budicon-tv-1:before {
  content: "\e11c";
}
.budicon-umbrella:before {
  content: "\e11d";
}
.budicon-undo:before {
  content: "\e11e";
}
.budicon-upload:before {
  content: "\e11f";
}
.budicon-upload-1:before {
  content: "\e120";
}
.budicon-video:before {
  content: "\e121";
}
.budicon-video-1:before {
  content: "\e122";
}
.budicon-video-2:before {
  content: "\e123";
}
.budicon-volume:before {
  content: "\e124";
}
.budicon-volume-1:before {
  content: "\e125";
}
.budicon-volume-2:before {
  content: "\e126";
}
.budicon-wallet:before {
  content: "\e127";
}
.budicon-webcam:before {
  content: "\e128";
}
.budicon-window:before {
  content: "\e129";
}
.budicon-wrench:before {
  content: "\e12a";
}



.icon-plus:before { content: '\2b'; } /* '+' */
.icon-plus-1:before { content: '\e817'; } /* '' */
.icon-minus:before { content: '\2d'; } /* '-' */
.icon-minus-1:before { content: '\e816'; } /* '' */
.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-left-thin:before { content: '\2190'; } /* '←' */
.icon-left-1:before { content: '\e847'; } /* '' */
.icon-up-thin:before { content: '\2191'; } /* '↑' */
.icon-up-1:before { content: '\e845'; } /* '' */
.icon-right-thin:before { content: '\2192'; } /* '→' */
.icon-right-1:before { content: '\e846'; } /* '' */
.icon-down-thin:before { content: '\2193'; } /* '↓' */
.icon-down-1:before { content: '\e848'; } /* '' */
.icon-level-up:before { content: '\21b0'; } /* '↰' */
.icon-level-down:before { content: '\21b3'; } /* '↳' */
.icon-switch:before { content: '\21c6'; } /* '⇆' */
.icon-infinity:before { content: '\221e'; } /* '∞' */
.icon-plus-squared:before { content: '\229e'; } /* '⊞' */
.icon-minus-squared:before { content: '\229f'; } /* '⊟' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-home-1:before { content: '\e811'; } /* '' */
.icon-keyboard:before { content: '\2328'; } /* '⌨' */
.icon-erase:before { content: '\232b'; } /* '⌫' */
.icon-pause:before { content: '\2389'; } /* '⎉' */
.icon-pause-1:before { content: '\e851'; } /* '' */
.icon-fast-forward:before { content: '\23e9'; } /* '⏩' */
.icon-fast-fw:before { content: '\e856'; } /* '' */
.icon-fast-backward:before { content: '\23ea'; } /* '⏪' */
.icon-fast-bw:before { content: '\e857'; } /* '' */
.icon-to-end:before { content: '\23ed'; } /* '⏭' */
.icon-to-end-1:before { content: '\e852'; } /* '' */
.icon-to-start:before { content: '\23ee'; } /* '⏮' */
.icon-to-start-1:before { content: '\e854'; } /* '' */
.icon-hourglass:before { content: '\23f3'; } /* '⏳' */
.icon-stop:before { content: '\25a0'; } /* '■' */
.icon-stop-1:before { content: '\25aa'; } /* '▪' */
.icon-up-dir:before { content: '\25b4'; } /* '▴' */
.icon-up-dir-1:before { content: '\e841'; } /* '' */
.icon-play:before { content: '\25b6'; } /* '▶' */
.icon-play-1:before { content: '\e84f'; } /* '' */
.icon-right-dir:before { content: '\25b8'; } /* '▸' */
.icon-right-dir-1:before { content: '\e84d'; } /* '' */
.icon-down-dir:before { content: '\25be'; } /* '▾' */
.icon-down-dir-1:before { content: '\e840'; } /* '' */
.icon-left-dir:before { content: '\25c2'; } /* '◂' */
.icon-left-dir-1:before { content: '\e842'; } /* '' */
.icon-adjust:before { content: '\25d1'; } /* '◑' */
.icon-cloud:before { content: '\2601'; } /* '☁' */
.icon-cloud-1:before { content: '\e85c'; } /* '' */
.icon-umbrella:before { content: '\2602'; } /* '☂' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-1:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-star-empty-1:before { content: '\e806'; } /* '' */
.icon-check-1:before { content: '\2611'; } /* '☑' */
.icon-cup:before { content: '\2615'; } /* '☕' */
.icon-left-hand:before { content: '\261c'; } /* '☜' */
.icon-up-hand:before { content: '\261d'; } /* '☝' */
.icon-right-hand:before { content: '\261e'; } /* '☞' */
.icon-down-hand:before { content: '\261f'; } /* '☟' */
.icon-menu:before { content: '\2630'; } /* '☰' */
.icon-th-list:before { content: '\e81b'; } /* '' */
.icon-moon:before { content: '\263d'; } /* '☽' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-heart-empty-1:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-heart-1:before { content: '\e803'; } /* '' */
.icon-note:before { content: '\266a'; } /* '♪' */
.icon-note-beamed:before { content: '\266b'; } /* '♫' */
.icon-music-1:before { content: '\e800'; } /* '' */
.icon-th:before { content: '\268f'; } /* '⚏' */
.icon-layout:before { content: '\e80c'; } /* '' */
.icon-flag:before { content: '\2691'; } /* '⚑' */
.icon-flag-1:before { content: '\e81f'; } /* '' */
.icon-tools:before { content: '\2692'; } /* '⚒' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-cog-1:before { content: '\e82e'; } /* '' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-attention-1:before { content: '\e834'; } /* '' */
.icon-flash:before { content: '\26a1'; } /* '⚡' */
.icon-flash-1:before { content: '\e85d'; } /* '' */
.icon-record:before { content: '\26ab'; } /* '⚫' */
.icon-cloud-thunder:before { content: '\26c8'; } /* '⛈' */
.icon-cog-alt:before { content: '\26ef'; } /* '⛯' */
.icon-scissors:before { content: '\2702'; } /* '✂' */
.icon-tape:before { content: '\2707'; } /* '✇' */
.icon-flight:before { content: '\2708'; } /* '✈' */
.icon-flight-1:before { content: '\e86f'; } /* '' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-mail-1:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\270d'; } /* '✍' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-pencil-1:before { content: '\e826'; } /* '' */
.icon-feather:before { content: '\2712'; } /* '✒' */
.icon-check:before { content: '\2713'; } /* '✓' */
.icon-ok:before { content: '\e81a'; } /* '' */
.icon-ok-circle:before { content: '\2714'; } /* '✔' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-cancel-1:before { content: '\e819'; } /* '' */
.icon-cancel-circled:before { content: '\2716'; } /* '✖' */
.icon-cancel-circle:before { content: '\e818'; } /* '' */
.icon-asterisk:before { content: '\2731'; } /* '✱' */
.icon-cancel-squared:before { content: '\274e'; } /* '❎' */
.icon-help:before { content: '\2753'; } /* '❓' */
.icon-attention-circle:before { content: '\2757'; } /* '❗' */
.icon-quote:before { content: '\275e'; } /* '❞' */
.icon-plus-circled:before { content: '\2795'; } /* '➕' */
.icon-plus-circle:before { content: '\e815'; } /* '' */
.icon-minus-circled:before { content: '\2796'; } /* '➖' */
.icon-minus-circle:before { content: '\e814'; } /* '' */
.icon-right:before { content: '\27a1'; } /* '➡' */
.icon-direction:before { content: '\27a2'; } /* '➢' */
.icon-forward:before { content: '\27a6'; } /* '➦' */
.icon-forward-1:before { content: '\e824'; } /* '' */
.icon-ccw:before { content: '\27f2'; } /* '⟲' */
.icon-cw:before { content: '\27f3'; } /* '⟳' */
.icon-cw-1:before { content: '\e844'; } /* '' */
.icon-left:before { content: '\2b05'; } /* '⬅' */
.icon-up:before { content: '\2b06'; } /* '⬆' */
.icon-down:before { content: '\2b07'; } /* '⬇' */
.icon-resize-vertical:before { content: '\2b0c'; } /* '⬌' */
.icon-resize-horizontal:before { content: '\2b0d'; } /* '⬍' */
.icon-eject:before { content: '\2ecf'; } /* '⻏' */
.icon-list-add:before { content: '\e003'; } /* '' */
.icon-list:before { content: '\e005'; } /* '' */
.icon-left-bold:before { content: '\e4ad'; } /* '' */
.icon-right-bold:before { content: '\e4ae'; } /* '' */
.icon-up-bold:before { content: '\e4af'; } /* '' */
.icon-down-bold:before { content: '\e4b0'; } /* '' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-star-half:before { content: '\e701'; } /* '' */
.icon-ok-circle2:before { content: '\e702'; } /* '' */
.icon-cancel-circle2:before { content: '\e703'; } /* '' */
.icon-help-circled:before { content: '\e704'; } /* '' */
.icon-help-circle:before { content: '\e813'; } /* '' */
.icon-info-circled:before { content: '\e705'; } /* '' */
.icon-info-circle:before { content: '\e812'; } /* '' */
.icon-th-large:before { content: '\e708'; } /* '' */
.icon-eye:before { content: '\e70a'; } /* '' */
.icon-eye-1:before { content: '\e81c'; } /* '' */
.icon-eye-off:before { content: '\e70b'; } /* '' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-tag-1:before { content: '\e81d'; } /* '' */
.icon-tags:before { content: '\e70d'; } /* '' */
.icon-camera-alt:before { content: '\e70f'; } /* '' */
.icon-upload-cloud:before { content: '\e711'; } /* '' */
.icon-reply:before { content: '\e712'; } /* '' */
.icon-reply-all:before { content: '\e713'; } /* '' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-export:before { content: '\e715'; } /* '' */
.icon-export-1:before { content: '\e825'; } /* '' */
.icon-print:before { content: '\e716'; } /* '' */
.icon-print-1:before { content: '\e827'; } /* '' */
.icon-retweet:before { content: '\e717'; } /* '' */
.icon-retweet-1:before { content: '\e828'; } /* '' */
.icon-comment:before { content: '\e718'; } /* '' */
.icon-comment-1:before { content: '\e829'; } /* '' */
.icon-chat:before { content: '\e720'; } /* '' */
.icon-chat-1:before { content: '\e82a'; } /* '' */
.icon-vcard:before { content: '\e722'; } /* '' */
.icon-address:before { content: '\e723'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-location-1:before { content: '\e833'; } /* '' */
.icon-map:before { content: '\e727'; } /* '' */
.icon-compass:before { content: '\e728'; } /* '' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-trash-1:before { content: '\e832'; } /* '' */
.icon-doc:before { content: '\e730'; } /* '' */
.icon-doc-text-inv:before { content: '\e731'; } /* '' */
.icon-docs:before { content: '\e736'; } /* '' */
.icon-doc-landscape:before { content: '\e737'; } /* '' */
.icon-archive:before { content: '\e738'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-share:before { content: '\e73c'; } /* '' */
.icon-basket:before { content: '\e73d'; } /* '' */
.icon-basket-1:before { content: '\e82d'; } /* '' */
.icon-shareable:before { content: '\e73e'; } /* '' */
.icon-login:before { content: '\e740'; } /* '' */
.icon-login-1:before { content: '\e82b'; } /* '' */
.icon-logout:before { content: '\e741'; } /* '' */
.icon-logout-1:before { content: '\e836'; } /* '' */
.icon-volume:before { content: '\e742'; } /* '' */
.icon-resize-full:before { content: '\e744'; } /* '' */
.icon-resize-full-1:before { content: '\e83b'; } /* '' */
.icon-resize-small:before { content: '\e746'; } /* '' */
.icon-resize-small-1:before { content: '\e83c'; } /* '' */
.icon-popup:before { content: '\e74c'; } /* '' */
.icon-publish:before { content: '\e74d'; } /* '' */
.icon-window:before { content: '\e74e'; } /* '' */
.icon-arrow-combo:before { content: '\e74f'; } /* '' */
.icon-zoom-in:before { content: '\e750'; } /* '' */
.icon-chart-pie:before { content: '\e751'; } /* '' */
.icon-zoom-out:before { content: '\e83d'; } /* '' */
.icon-language:before { content: '\e752'; } /* '' */
.icon-air:before { content: '\e753'; } /* '' */
.icon-database:before { content: '\e754'; } /* '' */
.icon-drive:before { content: '\e755'; } /* '' */
.icon-bucket:before { content: '\e756'; } /* '' */
.icon-thermometer:before { content: '\e757'; } /* '' */
.icon-down-circled:before { content: '\e758'; } /* '' */
.icon-down-circle2:before { content: '\e83e'; } /* '' */
.icon-left-circled:before { content: '\e759'; } /* '' */
.icon-right-circled:before { content: '\e75a'; } /* '' */
.icon-up-circled:before { content: '\e75b'; } /* '' */
.icon-up-circle2:before { content: '\e83f'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-down-open-1:before { content: '\e84c'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-left-open-1:before { content: '\e84b'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-right-open-1:before { content: '\e84a'; } /* '' */
.icon-up-open:before { content: '\e75f'; } /* '' */
.icon-up-open-1:before { content: '\e849'; } /* '' */
.icon-down-open-mini:before { content: '\e760'; } /* '' */
.icon-arrows-cw:before { content: '\e843'; } /* '' */
.icon-left-open-mini:before { content: '\e761'; } /* '' */
.icon-play-circle2:before { content: '\e850'; } /* '' */
.icon-right-open-mini:before { content: '\e762'; } /* '' */
.icon-to-end-alt:before { content: '\e853'; } /* '' */
.icon-up-open-mini:before { content: '\e763'; } /* '' */
.icon-to-start-alt:before { content: '\e855'; } /* '' */
.icon-down-open-big:before { content: '\e764'; } /* '' */
.icon-left-open-big:before { content: '\e765'; } /* '' */
.icon-right-open-big:before { content: '\e766'; } /* '' */
.icon-up-open-big:before { content: '\e767'; } /* '' */
.icon-progress-0:before { content: '\e768'; } /* '' */
.icon-progress-1:before { content: '\e769'; } /* '' */
.icon-progress-2:before { content: '\e76a'; } /* '' */
.icon-progress-3:before { content: '\e76b'; } /* '' */
.icon-back-in-time:before { content: '\e771'; } /* '' */
.icon-network:before { content: '\e776'; } /* '' */
.icon-inbox:before { content: '\e777'; } /* '' */
.icon-inbox-1:before { content: '\e85a'; } /* '' */
.icon-install:before { content: '\e778'; } /* '' */
.icon-font:before { content: '\e779'; } /* '' */
.icon-bold:before { content: '\e77a'; } /* '' */
.icon-italic:before { content: '\e77b'; } /* '' */
.icon-text-height:before { content: '\e77c'; } /* '' */
.icon-text-width:before { content: '\e77d'; } /* '' */
.icon-align-left:before { content: '\e77e'; } /* '' */
.icon-align-center:before { content: '\e77f'; } /* '' */
.icon-align-right:before { content: '\e780'; } /* '' */
.icon-align-justify:before { content: '\e781'; } /* '' */
.icon-list-1:before { content: '\e782'; } /* '' */
.icon-indent-left:before { content: '\e783'; } /* '' */
.icon-indent-right:before { content: '\e784'; } /* '' */
.icon-lifebuoy:before { content: '\e788'; } /* '' */
.icon-mouse:before { content: '\e789'; } /* '' */
.icon-dot:before { content: '\e78b'; } /* '' */
.icon-dot-2:before { content: '\e78c'; } /* '' */
.icon-dot-3:before { content: '\e78d'; } /* '' */
.icon-suitcase:before { content: '\e78e'; } /* '' */
.icon-off:before { content: '\e86a'; } /* '' */
.icon-road:before { content: '\e78f'; } /* '' */
.icon-flow-cascade:before { content: '\e790'; } /* '' */
.icon-list-alt:before { content: '\e869'; } /* '' */
.icon-flow-branch:before { content: '\e791'; } /* '' */
.icon-qrcode:before { content: '\e868'; } /* '' */
.icon-flow-tree:before { content: '\e792'; } /* '' */
.icon-barcode:before { content: '\e867'; } /* '' */
.icon-flow-line:before { content: '\e793'; } /* '' */
.icon-ajust:before { content: '\e865'; } /* '' */
.icon-flow-parallel:before { content: '\e794'; } /* '' */
.icon-tint:before { content: '\e864'; } /* '' */
.icon-brush:before { content: '\e79a'; } /* '' */
.icon-paper-plane:before { content: '\e79b'; } /* '' */
.icon-magnet:before { content: '\e7a1'; } /* '' */
.icon-magnet-1:before { content: '\e863'; } /* '' */
.icon-gauge:before { content: '\e7a2'; } /* '' */
.icon-traffic-cone:before { content: '\e7a3'; } /* '' */
.icon-cc:before { content: '\e7a5'; } /* '' */
.icon-cc-by:before { content: '\e7a6'; } /* '' */
.icon-cc-nc:before { content: '\e7a7'; } /* '' */
.icon-cc-nc-eu:before { content: '\e7a8'; } /* '' */
.icon-cc-nc-jp:before { content: '\e7a9'; } /* '' */
.icon-cc-sa:before { content: '\e7aa'; } /* '' */
.icon-cc-nd:before { content: '\e7ab'; } /* '' */
.icon-cc-pd:before { content: '\e7ac'; } /* '' */
.icon-cc-zero:before { content: '\e7ad'; } /* '' */
.icon-cc-share:before { content: '\e7ae'; } /* '' */
.icon-cc-remix:before { content: '\e7af'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-rss-1:before { content: '\f09e'; } /* '' */
.icon-hdd:before { content: '\f0a0'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-left-circled-1:before { content: '\f0a8'; } /* '' */
.icon-right-circled-1:before { content: '\f0a9'; } /* '' */
.icon-up-circled-1:before { content: '\f0aa'; } /* '' */
.icon-down-circled-1:before { content: '\f0ab'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-docs-1:before { content: '\f0c5'; } /* '' */
.icon-blank:before { content: '\f0c8'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-pinterest-circled-1:before { content: '\f0d2'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-gauge-1:before { content: '\f0e4'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-user-md:before { content: '\f200'; } /* '' */
.icon-s-github:before { content: '\f300'; } /* '' */
.icon-github-squared:before { content: '\e862'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */
.icon-s-flickr:before { content: '\f303'; } /* '' */
.icon-twitter-squared:before { content: '\e85f'; } /* '' */
.icon-s-vimeo:before { content: '\f306'; } /* '' */
.icon-vimeo-circled:before { content: '\f307'; } /* '' */
.icon-facebook-squared-1:before { content: '\f308'; } /* '' */
.icon-s-twitter:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-s-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin-squared:before { content: '\e870'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-s-gplus:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-s-pinterest:before { content: '\f312'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-s-tumblr:before { content: '\f315'; } /* '' */
.icon-tumblr-circled:before { content: '\f316'; } /* '' */
.icon-s-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-s-dribbble:before { content: '\f31b'; } /* '' */
.icon-dribbble-circled:before { content: '\f31c'; } /* '' */
.icon-s-stumbleupon:before { content: '\f31e'; } /* '' */
.icon-stumbleupon-circled:before { content: '\f31f'; } /* '' */
.icon-s-lastfm:before { content: '\f321'; } /* '' */
.icon-lastfm-circled:before { content: '\f322'; } /* '' */
.icon-rdio:before { content: '\f324'; } /* '' */
.icon-rdio-circled:before { content: '\f325'; } /* '' */
.icon-spotify:before { content: '\f327'; } /* '' */
.icon-s-spotify-circled:before { content: '\f328'; } /* '' */
.icon-qq:before { content: '\f32a'; } /* '' */
.icon-s-instagrem:before { content: '\f32d'; } /* '' */
.icon-dropbox:before { content: '\f330'; } /* '' */
.icon-s-evernote:before { content: '\f333'; } /* '' */
.icon-flattr:before { content: '\f336'; } /* '' */
.icon-s-skype:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */
.icon-renren:before { content: '\f33c'; } /* '' */
.icon-sina-weibo:before { content: '\f33f'; } /* '' */
.icon-s-paypal:before { content: '\f342'; } /* '' */
.icon-s-picasa:before { content: '\f345'; } /* '' */
.icon-s-soundcloud:before { content: '\f348'; } /* '' */
.icon-s-behance:before { content: '\f34e'; } /* '' */
.icon-google-circles:before { content: '\f351'; } /* '' */
.icon-vkontakte:before { content: '\f354'; } /* '' */
.icon-smashing:before { content: '\f357'; } /* '' */
.icon-db-shape:before { content: '\f600'; } /* '' */
.icon-sweden:before { content: '\f601'; } /* '' */
.icon-logo-db:before { content: '\f603'; } /* '' */
.icon-picture:before { content: '\f304'; } /* '' */
.icon-picture-1:before { content: '\e80a'; } /* '' */
.icon-globe:before { content: '\f30e'; } /* '' */
.icon-globe-1:before { content: '\e85b'; } /* '' */
.icon-leaf-1:before { content: '\e86d'; } /* '' */
.icon-lemon:before { content: '\f34b'; } /* '' */
.icon-glass:before { content: '\f378'; } /* '' */
.icon-gift:before { content: '\f381'; } /* '' */
.icon-graduation-cap:before { content: '\f393'; } /* '' */
.icon-mic:before { content: '\f3a4'; } /* '' */
.icon-videocam:before { content: '\f3a5'; } /* '' */
.icon-headphones:before { content: '\f3a7'; } /* '' */
.icon-palette:before { content: '\f3a8'; } /* '' */
.icon-ticket:before { content: '\f3ab'; } /* '' */
.icon-video:before { content: '\f3ac'; } /* '' */
.icon-video-1:before { content: '\e809'; } /* '' */
.icon-target:before { content: '\f3af'; } /* '' */
.icon-target-1:before { content: '\e858'; } /* '' */
.icon-music:before { content: '\f3b5'; } /* '' */
.icon-trophy:before { content: '\f3c6'; } /* '' */
.icon-award:before { content: '\f3c9'; } /* '' */
.icon-thumbs-up:before { content: '\f44d'; } /* '' */
.icon-thumbs-up-1:before { content: '\e820'; } /* '' */
.icon-thumbs-down:before { content: '\f44e'; } /* '' */
.icon-thumbs-down-1:before { content: '\e821'; } /* '' */
.icon-bag:before { content: '\f45c'; } /* '' */
.icon-user:before { content: '\f464'; } /* '' */
.icon-user-1:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\f465'; } /* '' */
.icon-users-1:before { content: '\e808'; } /* '' */
.icon-lamp:before { content: '\f4a1'; } /* '' */
.icon-alert:before { content: '\f4a5'; } /* '' */
.icon-water:before { content: '\f4a6'; } /* '' */
.icon-droplet:before { content: '\f4a7'; } /* '' */
.icon-credit-card:before { content: '\f4b3'; } /* '' */
.icon-credit-card-1:before { content: '\e860'; } /* '' */
.icon-monitor:before { content: '\f4bb'; } /* '' */
.icon-briefcase:before { content: '\f4bc'; } /* '' */
.icon-briefcase-1:before { content: '\e86c'; } /* '' */
.icon-floppy:before { content: '\f4be'; } /* '' */
.icon-floppy-1:before { content: '\e85e'; } /* '' */
.icon-cd:before { content: '\f4bf'; } /* '' */
.icon-folder:before { content: '\f4c1'; } /* '' */
.icon-folder-1:before { content: '\e830'; } /* '' */
.icon-folder-open:before { content: '\f4c2'; } /* '' */
.icon-doc-text:before { content: '\f4c4'; } /* '' */
.icon-doc-1:before { content: '\e831'; } /* '' */
.icon-calendar:before { content: '\f4c5'; } /* '' */
.icon-calendar-1:before { content: '\e82c'; } /* '' */
.icon-chart-line:before { content: '\f4c8'; } /* '' */
.icon-chart-bar:before { content: '\f4ca'; } /* '' */
.icon-chart-bar-1:before { content: '\e861'; } /* '' */
.icon-clipboard:before { content: '\f4cb'; } /* '' */
.icon-pin:before { content: '\f4cc'; } /* '' */
.icon-attach:before { content: '\f4ce'; } /* '' */
.icon-attach-1:before { content: '\e80f'; } /* '' */
.icon-bookmarks:before { content: '\f4d1'; } /* '' */
.icon-book:before { content: '\f4d5'; } /* '' */
.icon-book-1:before { content: '\e866'; } /* '' */
.icon-book-open:before { content: '\f4d6'; } /* '' */
.icon-phone:before { content: '\f4de'; } /* '' */
.icon-phone-1:before { content: '\e82f'; } /* '' */
.icon-megaphone:before { content: '\f4e3'; } /* '' */
.icon-megaphone-1:before { content: '\e86e'; } /* '' */
.icon-upload:before { content: '\f4e4'; } /* '' */
.icon-upload-1:before { content: '\e823'; } /* '' */
.icon-download:before { content: '\f4e5'; } /* '' */
.icon-download-1:before { content: '\e822'; } /* '' */
.icon-box:before { content: '\f4e6'; } /* '' */
.icon-newspaper:before { content: '\f4f0'; } /* '' */
.icon-mobile:before { content: '\f4f1'; } /* '' */
.icon-signal:before { content: '\f4f6'; } /* '' */
.icon-signal-1:before { content: '\e859'; } /* '' */
.icon-camera:before { content: '\f4f7'; } /* '' */
.icon-camera-1:before { content: '\e80b'; } /* '' */
.icon-shuffle:before { content: '\f500'; } /* '' */
.icon-shuffle-1:before { content: '\e84e'; } /* '' */
.icon-loop:before { content: '\f501'; } /* '' */
.icon-arrows-ccw:before { content: '\f504'; } /* '' */
.icon-light-down:before { content: '\f505'; } /* '' */
.icon-light-up:before { content: '\f506'; } /* '' */
.icon-mute:before { content: '\f507'; } /* '' */
.icon-volume-off:before { content: '\e837'; } /* '' */
.icon-volume-down:before { content: '\f509'; } /* '' */
.icon-sound:before { content: '\f50a'; } /* '' */
.icon-volume-up:before { content: '\e838'; } /* '' */
.icon-battery:before { content: '\f50b'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */
.icon-search-1:before { content: '\e801'; } /* '' */
.icon-key:before { content: '\f511'; } /* '' */
.icon-key-1:before { content: '\e86b'; } /* '' */
.icon-lock:before { content: '\f512'; } /* '' */
.icon-lock-1:before { content: '\e80e'; } /* '' */
.icon-lock-open:before { content: '\f513'; } /* '' */
.icon-lock-open-1:before { content: '\e80d'; } /* '' */
.icon-bell:before { content: '\f514'; } /* '' */
.icon-bell-1:before { content: '\e835'; } /* '' */
.icon-bookmark:before { content: '\f516'; } /* '' */
.icon-bookmark-1:before { content: '\e81e'; } /* '' */
.icon-link:before { content: '\f517'; } /* '' */
.icon-link-1:before { content: '\e810'; } /* '' */
.icon-back:before { content: '\f519'; } /* '' */
.icon-fire:before { content: '\f525'; } /* '' */
.icon-flashlight:before { content: '\f526'; } /* '' */
.icon-wrench:before { content: '\f527'; } /* '' */
.icon-hammer:before { content: '\f528'; } /* '' */
.icon-chart-area:before { content: '\f53e'; } /* '' */
.icon-clock:before { content: '\f554'; } /* '' */
.icon-clock-1:before { content: '\e839'; } /* '' */
.icon-rocket:before { content: '\f680'; } /* '' */
.icon-truck:before { content: '\f69a'; } /* '' */
.icon-block:before { content: '\f6ab'; } /* '' */
.icon-block-1:before { content: '\e83a'; } /* '' */

.icon-s-rss:before { font-family: 'fontello'; content: '\e73a'; } /* '' */
.icon-s-delicious:before { content: '\23'; } /* '#' */
.icon-s-500px:before { content: '\30'; } /* '0' */
.icon-s-grooveshark:before { content: '\38'; } /* '8' */
.icon-s-forrst:before { content: '\3a'; } /* ':' */
.icon-s-digg:before { content: '\3b'; } /* ';' */
.icon-s-blogger:before { content: '\42'; } /* 'B' */
.icon-s-klout:before { content: '\4b'; } /* 'K' */
.icon-s-dropbox:before { content: '\64'; } /* 'd' */
.icon-s-ebay:before { content: '\65'; } /* 'e' */
.icon-s-github-1:before { content: '\67'; } /* 'g' */
.icon-s-songkick:before { content: '\6b'; } /* 'k' */
.icon-s-posterous:before { content: '\7e'; } /* '~' */
.icon-s-appnet:before { content: '\e1'; } /* 'á' */
.icon-s-github:before { content: '\f300'; } /* '' */
.icon-s-flickr:before { content: '\f303'; } /* '' */
.icon-s-vimeo:before { content: '\f306'; } /* '' */
.icon-s-twitter:before { content: '\f309'; } /* '' */
.icon-s-facebook:before { content: '\f30c'; } /* '' */
.icon-s-gplus:before { content: '\f30f'; } /* '' */
.icon-s-pinterest:before { content: '\f312'; } /* '' */
.icon-s-youtube:before { content: '\f313'; } /* '' */
.icon-s-tumblr:before { content: '\f315'; } /* '' */
.icon-s-linkedin:before { content: '\f318'; } /* '' */
.icon-s-dribbble:before { content: '\f31b'; } /* '' */
.icon-s-stumbleupon:before { content: '\f31e'; } /* '' */
.icon-s-lastfm:before { content: '\f321'; } /* '' */
.icon-s-spotify:before { content: '\f328'; } /* '' */
.icon-s-instagram:before { content: '\f32d'; } /* '' */
.icon-s-evernote:before { content: '\f333'; } /* '' */
.icon-s-skype:before { content: '\f339'; } /* '' */
.icon-s-paypal:before { content: '\f342'; } /* '' */
.icon-s-picasa:before { content: '\f345'; } /* '' */
.icon-s-soundcloud:before { content: '\f348'; } /* '' */
.icon-s-behance:before { content: '\f34e'; } /* '' */

.icon-circle-empty:before { content: '\e800'; } /* '' */
